@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
	background: url('images/background-pattern-desktop.jpeg') no-repeat top center fixed;
	background-attachment: cover;
	background-color: hsl(275, 100%, 97%);
	background-size: auto 45%;
	font-family: 'Work Sans', sans-serif
}

main{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	width: 30rem;
	margin: auto;
	position: relative;
	top: 14rem;
	border-radius: 10px;
	box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.4);
	padding: 0.6rem 2rem;
}

#star-icon-style{
	border: none;
	background-color: transparent;
	height: 4rem;

}

.img-container{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgb(0, 0, 0, 0.1);
	width: 28rem;
	margin-top: none;
}

.img-container-done{
	display: flex;
	justify-content: space-between;
	width: 28rem;
	margin-top: none;
}

.about{
	width: 28rem;
	color:  hsl(292, 16%, 49%);
}

.about-display{
	display: none;
}

.bordNone{
	border: none;
}

main h1{
	margin-left: 0.7rem;
	font-size: 3rem;
}

.faq-style{
	border: none;
	display: flex;
	position: relative;
	left: -140px;
}

button{
	border: none;
	background-color: transparent;
	cursor: pointer;
	margin-left: 0.7rem;
}
